ChainscriptTest/1.0.0_P.json
*/obj/*
*/bin/*
packages/IKVM.8.1.5717.0/lib/IKVM.AWT.WinForms.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Beans.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Charsets.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Cldrdata.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Corba.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Core.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Jdbc.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Localedata.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Management.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Media.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Misc.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Naming.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Nashorn.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Remoting.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Security.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.SwingAWT.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Text.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Tools.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.Util.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.API.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.Bind.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.Crypto.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.Parse.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.Transform.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.WebServices.dll
packages/IKVM.8.1.5717.0/lib/IKVM.OpenJDK.XML.XPath.dll
packages/IKVM.8.1.5717.0/lib/IKVM.Runtime.dll
packages/IKVM.8.1.5717.0/lib/IKVM.Runtime.JNI.dll
packages/IKVM.8.1.5717.0/x64/lib/ikvm-native-win32-x64.dll
packages/IKVM.8.1.5717.0/x64/lib/JVM.DLL
packages/IKVM.8.1.5717.0/x86/lib/ikvm-native-win32-x86.dll
packages/IKVM.8.1.5717.0/x86/lib/JVM.DLL
packages/IKVM.8.1.5717.0/.signature.p7s
packages/IKVM.8.1.5717.0/IKVM.8.1.5717.0.nupkg
packages/IKVM.8.1.5717.0/LICENSE
packages/IKVM.8.1.5717.0/THIRD_PARTY_README
packages/IKVM.8.1.5717.0/TRADEMARK
packages/IKVM.OpenJDK.Core.7.2.4630.5/lib/IKVM.OpenJDK.Core.dll
packages/IKVM.OpenJDK.Core.7.2.4630.5/.signature.p7s
packages/IKVM.OpenJDK.Core.7.2.4630.5/IKVM.OpenJDK.Core.7.2.4630.5.nupkg
packages/IKVM.OpenJDK.Text.7.2.4630.5/lib/IKVM.OpenJDK.Text.dll
packages/IKVM.OpenJDK.Text.7.2.4630.5/.signature.p7s
packages/IKVM.OpenJDK.Text.7.2.4630.5/IKVM.OpenJDK.Text.7.2.4630.5.nupkg
packages/IKVM.Runtime.7.2.4630.5/lib/IKVM.Runtime.dll
packages/IKVM.Runtime.7.2.4630.5/.signature.p7s
packages/IKVM.Runtime.7.2.4630.5/IKVM.Runtime.7.2.4630.5.nupkg
